<% provide(:page_title, "About")%>
<% provide(:about_active,"active")%>

<div class="container about">
	<div class="row">
		<div class="col-md-10 col-lg-12 center">
			<br>
			<h1><center>About Page</center></h1>
			<hr>
			<div class="purpose">
				<h4>Purpose</h4>
				<p>

					The purpose of CryptoCrave is to allow investors and others interested in cryptocurrency investments to discuss and post valuable information.

				</p>
			</div>
			<hr>
			<div class="features">
				<h4>Features</h4>
				<p>CryptoCrave has many features such as:</p>
				<ul>
					<li>Creating an account (don't forget to add your name and gravatar!)</li>

					<li>Publishing relevant content</li>

					<li>Linking with other investors</li>

					<li>Discussing topics within the comment section using Disqus</li>

					<li>Finding valuable information on present cryptocurrency investments</li>

					<li>Searching for specific topics</li>

					<li>Using tags to find related content</li>
				</ul>
			</div>
			<hr>
			<div class="rules">
				<h4>Rules and Policy</h4>
				<p>Please follow these rules while using CryptoCrave</p>
				<ul>
					<li>No scamming! Becareful when dealing with others</li>

					<li>No spamming! Please do not spam posts and bother others</li>

					<li>Be nice :)</li>

					<li>Always double check information from others by external sources</li>

					<li>Keep the content related to cryptocurrencies</li>

				</ul>
				<p>Please remember that CryptoCrave is not responsible for your actions. Always make smart decisions.</p>			

			</div>

			<div id="thepic"></div>
		</div>
	</div>
</div>

<style type="text/css">
	.about{
		border-radius: 25px;
		background-color: white;

	}
	#thepic{
		width: 100%;
		background-image:url(https://static.pexels.com/photos/730569/pexels-photo-730569.jpeg);
		height:500px;
		background-position: center;

	}
	.center{
		margin: 0 auto;
		float: none;
	}
</style>s