<% provide(:page_title, "Contact")%>
<% provide(:contact_active,"active")%>
<div class="container contact">
	<br>
	<h1><center>Contact</center></h1>
	<div class="row">
		<div class="col-sm-6 col-md-5">

			<div class="container">
			  <h2><center>Creator</center></h2>
			  <div class="card card-outline-secondary mb-3 text-center" >
			    <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/20155070?s=400&u=6c6fab43986b59edb520f3f4cdc8f3ead94468e5&v=4"
			     alt="Card" style="width:100%">

			    <div class="card-block">
			      <center><h4 class="card-title">Peter Farah</h4></center>
			      <p class="card-text">Hello!</p>
			      <p>I am a student at the University of Ottawa in my second year studying Computer Engineering. My strengths include web development, android development and java-based applications. I am looking for a COOP opportunity in web development. If you would like a copy of my full resume, you can contact me at pfara039@uottawa.ca </p>
			      <left><a href="http://www.github.com/pfarah65" class="btn btn-primary">See my Github!</a></left>
			      <left><a href="http://www.pfarah65.github.com/" class="btn btn-default">View my Resume!</a></left>

			    </div>
			  </div>
			  <br>
			</div>


		</div>
		<div class="col-sm-6 col-md-7">
			<br>
			<hr>
			<div class="intro">
				<h4>Introduction</h4>
				<p>

					Hello, my name is Peter Farah and I am the creator of CryptoCrave. If you would like to contact me, you can e-mail me at pfara039@uottawa.ca

				</p>
			</div>
			<hr>
			<div class="CryptoCrave is a website running on Heroku using Ruby on Rails 5">
				<h4>Web application information</h4>
				<p>CryptoCrave uses many gems such as:</p>
				<ul>
					<li>Devise for User Authentication</li>

					<li>Wil paginate for pagination</li>

					<li>Bootstrap 4 for HTML and CSS design</li>

					<li>Friendly Id for friendly urls</li>

					<li>Acts as taggable for blog post tags</li>

					<li>Turbolinks</li>

					<li>Many more... do not hesitate to contact me :)</li>
				</ul>
			</div>
			<hr>
		</div>
	</div>
</div>

<style type="text/css">
	.contact{
		border-radius: 25px;
		background-color: white;

	}

</style>